{% extends "base.html" %}

<!-- title block------------------------------------------------------------>

{% block title %}
3LVLPASSWORD
{% endblock %}

<!--style block-------------------------------------------------------------->
{% block style%}
<style>

</style>
{% endblock %}

<!-- body block-------------------------------------------------------------->
{% block body %}

<div class="card bg-dark text-white">
    <img src="https://cdn.discordapp.com/attachments/646476681220980736/755191191490003004/calm-body-of-water-1363876.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Main page</h5>
      <p class="card-text">This is the main page , and as u can see nothing here yet. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>

      
    </div>
  </div>


{% endblock %}

<!--scripts block ------------------------------------------------------------>

{% block script %}
<script>

</script>
{% endblock%}